@font-face {
    font-family: "NunitoSans";
    src: url("fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "NEXTART";
    src: url("fonts/NEXT ART_Bold.otf.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    overflow-x: hidden;
}

* {
    margin: 0;
}

.wrapper {
    width: 1180px;
    margin: auto;
}

:root {
    --font-family-main: "NunitoSans";
    --font-s: 20px;
    --white-font: #fdfdfd;
    --black-text: #18121e;
    --yellow-text: #f2be22;
    --green-text: #1a3e3e;
    --gray-color: #f3f5f4;
}

header {
    background-image: url("images/mountains-main.jpg");
    height: 985px;
    width: 1920px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 212px;
    padding-top: 16px;
}

.menu_items {
    display: flex;
    align-items: center;
    gap: 50px;
}

.menu_items_links {
    display: flex;
    gap: 24px;
}

.menu_items_links a {
    font-family: var(--font-family-main);
    color: var(--white-font);
    font-size: 18px;
    font-weight: 400;
}

.button_consulte {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
    height: 44px;
    background: var(--green-text);
    border-radius: 4px;
    font-family: var(--font-family-main);
    color: var(--white-font);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.main_section h1 {
    width: 1080px;
    color: var(--white-font);
    font-size: 50px;
    font-family: NEXT ART;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 1px;
    word-wrap: break-word;
    margin-top: 462px;
}

.form_search {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 41px;
    width: 1180px;
    height: 161px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(6px);
}

.form_search_item {
    display: block;
    padding: 14px 16px;
    margin-bottom: 8px;
    width: 270px;
    height: 52px;
    border-radius: 8px;
    border: 1px #e1e3e4 solid;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    color: var(--white-font);
    font-size: 16px;
    font-weight: 400;
    background-color: inherit;
    font-family: var(--font-family-main);
    outline: none;
    appearance: none;
    background: url(images/arrow-down.svg) no-repeat right;
    background-position-x: calc(100% - 8px);
    background-color: transparent;
}

.form_search_wrapper {
    margin-top: 40px;
}

option {
    color: var(--black-text);
}

.form_search_wrapper p {
    font-family: var(--font-family-main);
    color: var(--white-font);
    font-size: 14px;
    font-weight: 400;
}

.form_search_wrapper::after {
    content: url(../images/arrow-down.svg);
    position: absolute;
    right: 16px;
    top: 30%;
    transform: translateY(-30%);
    z-index: -1;
}

.form_search_data {
    display: block;
    padding-left: 14px;
    margin-bottom: 8px;
    width: 270px;
    height: 52px;
    height: block;
    border-radius: 8px;
    border: 1px #e1e3e4 solid;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    color: var(--white-font);
    font-size: 16px;
    font-weight: 400;
    background-color: inherit;
    font-family: var(--font-family-main);
    outline: none;
}

.form_button_search_program {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 213px;
    height: 52px;
    background: var(--white-font);
    border-radius: 4px;
    color: var(--green-text);
    font-size: 16px;
    font-family: var(--font-family-main);
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
}

.about {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 250px;
}

.about_media {
    position: relative;
}

.back_media {
    border-radius: 24px;
}

.front_media {
    border-radius: 24px;
    position: absolute;
    left: 130px;
    top: 130px;
}

h3 {
    font-family: var(--font-family-main);
    color: var(--yellow-text);
    font-size: 24px;
    font-weight: 400;
}

.about_description h3,
.offer_description h3 {
    margin-bottom: 8px;
}

h2 {
    width: 580px;
    color: var(--black-text);
    font-size: 32px;
    font-family: var(--font-family-main);
    font-weight: 800;
    line-height: 38.4px;
}

.about_description h2,
.about_description p,
.offer_description h2,
.offer_description p {
    margin-bottom: 40px;
}

.about_description {
    padding: 64px 0;
    flex: 1;
    max-width: 580px;
}

.about_description p,
.offer_description p {
    width: 580px;
    color: var(--black-text);
    font-size: 18px;
    font-family: var(--font-family-main);
    font-weight: 400;
    line-height: 27px;
}

.about_description_button {
    width: 200px;
    height: 52px;
    background: var(--green-text);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--white-font);
    font-size: 16px;
    font-family: var(--font-family-main);
    font-weight: 600;
    text-decoration: none;
}

.offer_section {
    background: var(--gray-color);
    padding-top: 80px;
    margin-top: 100px;
}

.offer {
    display: flex;
    gap: 90px;
}

.offer_description {
    flex: 1;
    max-width: 580px;
}

.offer_description_item {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
}

.offer_description_item_text {
    color: var(--black-text);
    font-size: 18px;
    font-family: var(--font-family-main);
    font-weight: 700;
    margin-bottom: 0;
}

.offer_description_item_text p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    width: 514px;
}

.offer_description_button {
    width: 236px;
    height: 52px;
    background: var(--green-text);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--white-font);
    font-size: 16px;
    font-family: var(--font-family-main);
    font-weight: 600;
    text-decoration: none;
}

.offer_media {
    display: grid;
    gap: 10px;
}

.left-top {
    height: 250px;
    width: 250px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.right-top {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.left-bottom {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.right-bottom {
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}